doctype html
html(lang="en")
head
  meta(charset="utf-8")
  title Temperature Data from Arduino
  link(type="text/css" rel="stylesheet" href="//pubnub.github.io/eon/v/eon/0.0.9/eon.css")
  link(type="text/css" rel="stylesheet" href="/stylesheets/main.css")

  body
    header
      h1 Temperature Data from Arduino

    div(id="chart")
      div(id="temp")

    script(src="//cdn.pubnub.com/pubnub-3.10.2.js")
    script(src="//pubnub.github.io/eon/v/eon/0.0.9/eon.js")
    script(src="/js/main.js")